<%- include('header'); -%>
<h1>Sneakers</h1>

<div class="grid-container">
  <div class="row">
    <% for (var i = 0; i < shoes.length; i++) {%>
      <%if(i%3 == 0 && i != 0){%>
        </div>
        <div class="row">
          <div class="col-sm">
            <img src=<%=shoes[i].media.imageUrl%> alt="" width="200">
            <h1><%=shoes[i].shoe%></h1>
            <h1><%=shoes[i].gender.toUpperCase()%></h1>
            <h1><%=shoes[i].releaseDate%></h1>
            <div class="hide">
                <h1><%=shoes[i].retailPrice%></h1>
            </div>
          </div>

      <%}else{%>
        <div class="col-sm">
          <img src=<%=shoes[i].media.imageUrl%> alt="" width="200">
          <h1><%=shoes[i].shoe%></h1>
          <h1><%=shoes[i].gender.toUpperCase()%></h1>
          <h1><%=shoes[i].releaseDate%></h1>
          <div class="hide">
              <h1><%=shoes[i].retailPrice%></h1>
          </div>
        </div>

      <%}%>
    <%}%>

</div>

  <%- include('footer'); -%>
